[submodule "components/OneWireNg"]
	path = components/OneWireNg
	url = https://github.com/pstolarz/OneWireNg
	shallow = true
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
	shallow = true
[submodule "components/arduino-libraries/Arduino-Temperature-Control-Library"]
	path = components/arduino-libraries/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
	shallow = true
[submodule "components/arduino-libraries/Adafruit-GFX-Library"]
	path = components/arduino-libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
	shallow = true
[submodule "components/arduino-libraries/Adafruit_SSD1306"]
	path = components/arduino-libraries/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
	shallow = true
[submodule "components/arduino-libraries/Adafruit_BusIO"]
	path = components/arduino-libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
	shallow = true
[submodule "components/arduino-libraries/Arduino-LiquidCrystal-I2C-library"]
	path = components/arduino-libraries/Arduino-LiquidCrystal-I2C-library
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library.git
	shallow = true
[submodule "components/arduino-libraries/Adafruit_TCS34725"]
	path = components/arduino-libraries/Adafruit_TCS34725
	url = https://github.com/adafruit/Adafruit_TCS34725.git
	shallow = true
[submodule "components/arduino-libraries/AS3935MI"]
	path = components/arduino-libraries/AS3935MI
	url = https://bitbucket.org/christandlg/as3935mi.git
[submodule "components/arduino-libraries/Adafruit_BME280"]
	path = components/arduino-libraries/Adafruit_BME280
	url = https://github.com/adafruit/Adafruit_BME280_Library
[submodule "components/arduino-libraries/Adafruit_Sensor"]
	path = components/arduino-libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "components/arduino-libraries/Adafruit_PCF8574"]
	path = components/arduino-libraries/Adafruit_PCF8574
	url = https://github.com/adafruit/Adafruit_PCF8574
