
/*****************************************************************************/
/* Network and time settings */
/*****************************************************************************/
#define WIFI_SSID             "ESSID"
#define WIFI_PASSWORD         "password1234"

#define MQTT_URI              "mqtt://test.mosquitto.org/:1883"
#define MQTT_PREFIX           "sketch"
#define MQTT_USERNAME         NULL
#define MQTT_PASSWORD         NULL

#define NTPSERVER             "pool.ntp.org"
#define TZ_INFO               "EST+5" # https://www.gnu.org/software/libc/manual/html_node/TZ-Variable.html

